<%= form_with(model: clients_has_employeur, local: true) do |form| %>
  <% if clients_has_employeur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clients_has_employeur.errors.count, "error") %> prohibited this clients_has_employeur from being saved:</h2>

      <ul>
      <% clients_has_employeur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Clients_id %>
    <%= form.number_field :Clients_id, id: :clients_has_employeur_Clients_id %>
  </div>

  <div class="field">
    <%= form.label :Employeurs_id %>
    <%= form.number_field :Employeurs_id, id: :clients_has_employeur_Employeurs_id %>
  </div>

  <div class="field">
    <%= form.label :DateDebut %>
    <%= form.date_select :DateDebut, id: :clients_has_employeur_DateDebut %>
  </div>

  <div class="field">
    <%= form.label :DateFin %>
    <%= form.date_select :DateFin, id: :clients_has_employeur_DateFin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
